<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>homecategoriesplus</name>
	<displayName><![CDATA[Homepage Category Plus]]></displayName>
	<version><![CDATA[0.8]]></version>
	<description><![CDATA[Display categories, sub-categories &amp; one product on your homepage.]]></description>
	<author><![CDATA[ckarone]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>